@page "/"
@using System.Text.RegularExpressions
@using NexCode.TinyMCE.Blazor.Code

Rich text goes below:

@* <RichTextEditor OnInitalise="OnIntalise" @bind-Html="@Html" @ref="RichTextEditor">
    <Plugins>
        <CustomPlugin Name="test">
            <MenuButton Text="Menu Item" Fetch="Fetch"/>
            <ToggleButton Text="Toggle Me" OnSetup="Callback"/>
        </CustomPlugin>
    </Plugins>
</RichTextEditor>


<RichTextEditor OnInitalise="OnIntalise" @bind-Html="@Html" @ref="RichTextEditor" Inline>
    <Plugins>
        <CustomPlugin Name="test">
            <MenuButton Text="Menu Item" Fetch="Fetch" />
            <ToggleButton Text="Toggle Me" OnSetup="Callback" />
        </CustomPlugin>
    </Plugins>
</RichTextEditor> *@


<div>
    @if (Editing)
    {
        <RichTextEditor OnInitalise="OnIntalise" @bind-Html="@Html" @ref="RichTextEditor" Inline/>
    }
    else
    {
        @((MarkupString)Html)
    }
    
</div>

<hr/>
<div>
    @Html
</div>

<button @onclick="()=>Editing=true">
    Click
</button>

@code
{
    private bool Editing { get; set; }
    private string Html { get; set; } = "<span>This is a token. You can use it as a tempalte</span>";

    private void OnIntalise(EditorOptions obj)
    {

        obj.Add("noneditable_class", "token");

        obj.CustomElements = "span";
        obj.ContentStyle = @"

.token{
padding:0px 5px;
background:lightgrey;
cursor: not-allowed;
display:inline-block;
}
";

    }

    

    private async ValueTask<IEnumerable<BaseMenuItem>> Fetch(TinyEventFactory eventCallbackFactory)
    {
        return Enumerable.Range(0, 100).Select(i => new MenuItem()
        {
            Text = $"Menu Item {i}",
                OnAction = eventCallbackFactory.Create<EditorEvent>((ee) => ee.Editor.InsertContent($"Menu item {i}"))
        });
    }

    private RichTextEditor RichTextEditor { get; set; }

  

    private async Task Callback(EditorEvent obj)
    {
        var node = await obj.Editor.Selections.GetNode();
        if (node == null)
            return;

        if ("A".Equals(node.Name, StringComparison.InvariantCultureIgnoreCase) || 
            node.Children.Any(i => "A".Equals(i.Name, StringComparison.InvariantCultureIgnoreCase)))
            obj.MenuApi.Active = true;

    }
}