@page "/"
@using System.Text.RegularExpressions
@using NexCode.TinyMCE.Blazor.Code

Rich text goes below:

<RichTextEditor OnInitalise="OnIntalise" @bind-Html="@Html">
    <Plugins>
        <CustomPlugin Name="test">
            <MenuButton Text="Menu Item" Fetch="Fetch"/>
        </CustomPlugin>
    </Plugins>
</RichTextEditor>


<div>
    @((MarkupString)Html)
</div>


<div>
    @Html
</div>


@code
{
    private string Html { get; set; }

    private void OnIntalise(EditorOptions obj)
    {

        obj.Add("noneditable_class", "token");

        obj.CustomElements = "span";
        obj.ContentStyle = @"

.token{
padding:0px 5px;
background:lightgrey;
cursor: not-allowed;
display:inline-block;
}
";

    }

    

    private async ValueTask<IEnumerable<BaseMenuItem>> Fetch(TinyEventFactory eventCallbackFactory)
    {


        var mi = new MenuItem()
        {
            Text = "Test Item",
            OnAction = eventCallbackFactory.Create<EditorEvent>((ee) => ee.Editor.InsertContent("test"))
        };
        return new[] {
            
            mi,
            new MenuItem() { Text = "A second item" } };
    }
}