@page "/"
@using System.Text.RegularExpressions
@using NexCode.TinyMCE.Blazor.Code

Rich text goes below:

<div>
    <RichTextEditor OnInitalise="OnIntalise" @bind-Html="@Html" @ref="RichTextEditor"/>
</div>

<hr/>
<div>
    @Html
</div>

<button @onclick="Callback">
    Click
</button>

@code
{
    private bool Editing { get; set; }
    private string Html { get; set; } = "<span>This is a token. You can use it as a tempalte</span>";

    private void OnIntalise(EditorOptions obj)
    {

        obj.Add("noneditable_class", "token");

        obj.CustomElements = "span";
        obj.ContentStyle = @"

.token{
padding:0px 5px;
background:lightgrey;
cursor: not-allowed;
display:inline-block;
}
";

    }

    

    private async ValueTask<IEnumerable<BaseMenuItem>> Fetch(TinyEventFactory eventCallbackFactory)
    {
        return Enumerable.Range(0, 100).Select(i => new MenuItem()
        {
            Text = $"Menu Item {i}",
                OnAction = eventCallbackFactory.Create<EditorEvent>((ee) => ee.Editor.InsertContent($"Menu item {i}"))
        });
    }

    private RichTextEditor RichTextEditor { get; set; }


    private async Task Callback()
    {
        await RichTextEditor.Editor.Ui.Hide();
    }
}